@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;600;900&display=swap');
@import "https://www.nerdfonts.com/assets/css/webfont.css";

body {
	font-family: 'Source Code Pro', monospace;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

.image-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('https://lh3.googleusercontent.com/fife/ALs6j_G_aaIGCYuJCz1gVaIAN0d6QB9d_J0CRcry5KMBXFIYhMJ714N3soBIJZtxcI-gO0SKs8p8tP-1on2t4f5bkKpeOeX81YmBNriWrWlrxgDaqkNSqZdQVb_YOaZbm25EtO5XGfquI0QKw7S5RaiKf6uATE9qL3cULEn6lBiE-fT-oiCbCDRb72jEodvlLgW8BTDsrDUY6yvzYCr1sms4PoQqTojcXpPU_s4QWF5wp2CLXCBo7EJ6QS2YPMxrlhtxLu51Bgam7HezrpQvIm7y1aG8UD8g7sp0D_U5AB02QIY5AHjORtiLD5jWCAK1ymPqB_B12r55iomfNwtrgD9LAuyGgG_OIFrzC8g2qZqLoB0VExKXe0bNfpqZZboT1T_OuiB068i3X1J9A2awpjzt14nPUB21Ly7TOgjuzIr39bAmJcLub4_gdH3PvqV396F7NvmTQsNQuWPWvLZDK2-NmzHxaV904p16FXbgDWzVxxNoZ0GUc6eddfEIcFNUOpLnHHFMkvwmGMhoSyNam0cdErAdMobSRhNt9kOrSNTj6uRp-e29hgAnrZI5HuG81KuLlfqJRDrSVYni5w_IILKutNQV9VZiBViJtANN23hp2gHit1pP0ASK4MBRz8Zj1TJZpR2WHtTQ1t0fw9roKqQUFdlWxJin-zq7-LfAVUag6D624jH_4FEwLsPazgVyZIzME1CGh6QdDsYTbj1osJ4YUr92Nsg7XtaJb02qXvtFTaQEUxPmtlgUKYQxwIDWrisrGIi9n24lGRA8WJquk8i6qzk5CsQK6QkHA915KxvWE2N-hWVJBwl48Nav7dTKE9Ys8k4Qxu53rLBvAlh_ZICq_aMgZq4tfRmNznuqRLqHJnrlrhXnXvS5yElqIZSrDICFqnGGkvlBtJxRXqxjXEYLAotVCSOvgR4KZeKP-YD4HRDkZ6IK5zDFs2Iw_pryl0g7UIzoU6BQVvJZ-q3cuSRCVZytPx7lNjGV_wHEgHkSkDDvm7K0qnioDE-MLEIDcigNLCqAJzEMuHLoi2hxsIoEumUOwfImQd6KuCigid9mXNUBn6Dy-_tG3PC-O43ZLpd-JnoHiowPFd59X1RvfojoAxRdE0vyudAwkPEhFh39_bAVElCPhoOnR99k1OQQ1ladNgPWLjqHRMf7E26xdJT9N-B48RQsnU0Yt6s1D-XX1gY4oL-y2FH4K5dWAGO9H6xUwvcvRu7U39xSRDRo84KSZh6N07pR_XGJIXkGidzdfvEMFV0f8df7OOYgSljNgEa9Q-13PKp2iWlx8mRYirbXXdBAWtcojSrED1-pqi8jVkhHZQje-xPzuvpYQUV2ALc9DSkqgBca32nbegVL7c5Rz6ljqw-e0z3rsvqKuuvXTWR0fjiZXm8-Nc7XMad4oY0A0MSIJZDep-8saqkNf9VrRWJtPm8TGcyPNWJvOrDTqALl5ovcsPOpfrspCXY53u_86e5CkRU8X9BJ8hmlMc0WWivEHuaq2rQxo1uaZEcKRUOJzbfSO8AfAmeX_MpVEXGPoAqwLmZLgrUJuplm_vvIg4oqiOe0nHuIOwyiTaenZt0rNzCT5Ygc0N6zOLB5eY4-zaw8AzFeWRZ3zSYBbA=w1913-h915');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: -1;
	filter: grayscale(100%) opacity(5%) blur(5px);
}

.profile-picture {
	width: 8rem;
	height: 8rem;
	border-radius: 9999px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.relative {
	position: relative;
}

.z-10 {
	z-index: 10;
}

.bg-opacity-75 {
	background-color: rgba(0, 0, 0, 0.75);
}

.min-h-screen {
	min-height: 100vh;
}

.content-wrapper {
	position: relative;
	z-index: 1;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

footer {
	width: 100%;
	margin-top: auto;
}
