@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;600;900&display=swap');
@import "https://www.nerdfonts.com/assets/css/webfont.css";

body {
	font-family: 'Source Code Pro', monospace;
	position: relative;
	overflow: auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	/* background image */
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat; background-size: cover;
	z-index: -1;
}

.image-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-filter: grayscale(70%) opacity(50%) blur(7px);
}

.profile-picture {
	width: 8rem;
	height: 8rem;
	border-radius: 9999px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.relative {
	position: relative;
}

.z-10 {
	z-index: 10;
}

.bg-opacity-75 {
	background-color: rgba(0, 0, 0, 0.75);
}

.min-h-screen {
	min-height: 100vh;
}

.content-wrapper {
	position: relative;
	z-index: 1;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

footer {
	position: fixed;
	width: 100%;
	margin-top: auto;
	margin-bottom: 0;
}

/* content for mobile phone */
@media all and (max-width: 768px) {
     overflow:auto; 
	}

/* background image for mobile phone */
@media (max-width: 480px) {
	.image-bg {
		background-image: url('images/bg-mobile.png');
	}
}

/* background image for tablets */
@media (min-width: 481px) and (max-width: 1024px) {
	.image-bg {
        background-image: url('images/bg-tablet.png');
    }
}

/* background image for desktop */
@media (min-width: 1025px) {
	.image-bg {
        background-image: url('images/bg.png');
   }
}
